## Lesson 1.4 - Independant Practice

Here's the situation - your working with a Postgre Database at a large wine distributor who needs you to maintain their database. You'll use some of your advanced SQl skills to take care of customer cases. Let's begin! 

First, let's load in the ipython sql extension so that we can use sql within the ipython notebook.

In [2]:
%load_ext sql

//anaconda/lib/python3.5/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
//anaconda/lib/python3.5/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

Connect to the database. Note - enter your own connection string. For help on how to load the raw CSV file into a Postgre database, please refer to the documenatation in the lesson plan on previous SQL lessons.

Select all of the wines with varietal type "Cabernet" that have an alcohol content above 5 and create a new column

In [ ]:
result = % sql SELECT varietal,
       CASE WHEN alcohol > 10 THEN '1'
            ELSE NULL END AS cab_column
  FROM WINE

Someone decided that they wanted to purchase *all* of these high alcohol cabs for their resteraunts, so make sure to mark them as *sold*. Your predicesor forgot to add a column for *sales date*, so you will have to add this in to the database table as well.

In [ ]:
%sql ALTER TABLE wine
ADD sale_date datatype

Select all of the cabernets with high alcohol

In [ ]:
%sql SELECT * 
     FROM WINE 
     WHERE varietal IN (SELECT varietal 
                  FROM CUSTOMERS 
                  WHERE cab_column = 1) ;

Set their sale date to today

In [ ]:
UPDATE WINE SET sale_date = CURRENT_DATE

Now, for our analysis we want to take a look at all the high quality wines. Select the wines with ratings above 7 and save the result as a pandas dataframe

In [ ]:
hQuality = %sql SELECT * 
                 FROM WINE
                 WHERE varietal IN (SELECT varietal
                      FROM WINE
                      WHERE quality > 7) ;

In [ ]:
df = hQuality.DataFrame()

But wait! You just recieved a call that we not only want to view high quality wines, but we want to see high quality wines with low acidity and medium alcohol content. Remember, we cannot include the wines already sold in this query.

In [ ]:
hQuality2 = %sql SELECT * 
                 FROM WINE
                 WHERE varietal IN (SELECT varietal
                      FROM WINE
                      WHERE quality > 7 AND acidity < 7.5 AND cab_column != 1)

In [ ]:
df2 = hQuality2.DataFrame()

Lastly, we want to round the density column to two variables within the database.

%sql UPDATE WINE, ROUND(density,2) AS RoundedDensity
FROM WINE;

**BONUS**: Continue to transform the data within the SQL database Pinot Noir's with low citric acid