# Local Postgresql Database Lab

In this lab we will practice adding and removing data from a local Postgresql database. We will:

- Walk through instructions on how to set up and configure a local postgresql server
- Create a database and a table using SQL and CRUD data in/from that table.
- Learn how to copy data from a CSV file into this local database
- Practice our SQL with a practice assignment.

## 1. Install postgresql locally

You should have already taken care of this in the Installfest, but just in case, [here](http://www.postgresql.org/download/) are the instructions for the most common platforms.

## 2. Launch and connect to a local PostgreSQL server

Now that you've installed PostgreSQL locally, practice connecting with the following methods:

- [Postico](https://eggerapps.at/postico/docs/v1.0.6/)
- Command-line (psql)
- Sqlalchemy + Pandas
- Ipython-notebook using the ipython-sql extension

**Check:** List the existing databases, there should be none, right?
> not true, there are some default databases from postgres

**Check:** If there are databases, check the tables' contents.

In [1]:
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('postgresql://postgres:0dess411@localhost:5432')
pd.read_sql("SELECT * FROM information_schema.tables LIMIT 3;", engine)

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
0,postgres,pg_catalog,pg_statistic,BASE TABLE,None,None,None,None,None,YES,NO,None
1,postgres,pg_catalog,pg_type,BASE TABLE,None,None,None,None,None,YES,NO,None
2,postgres,pg_catalog,pg_authid,BASE TABLE,None,None,None,None,None,YES,NO,None

## 3. Create DB
Once you are connected to your local Postgresql server, create a new database. Call it `lab33`.

Practice creating and deleting the database with the following methods:

- Postico
- Command-line:
>     create database lab33
>     drop database lab33

- Sqlalchemy
- Ipython-notebook using the ipython-sql extension

**Check:** If you create a DB in Postico, do you see it from the command-line?
> Yes

**Check:** What does this tell us about multiple connections to the same db?
> Multiple users/connections are possible and the data is consistent. Postgres is relational -> ACID.

In [2]:
%load_ext sql

In [7]:
%%sql postgres://postgres:0dess411@localhost:5432/lab33
SELECT * FROM information_schema.tables LIMIT3;

177 rows affected.

[(u'postgres', u'pg_catalog', u'pg_statistic', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_type', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_authid', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_shadow', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_roles', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_settings', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_file_settings', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_config', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_rules', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_user_mapping', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_xact_user_functions', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_replication_origin_status', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_archiver', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_bgwriter', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_attribute', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_proc', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_class', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_attrdef', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_constraint', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_inherits', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_index', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_operator', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_opfamily', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_opclass', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_am', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_amop', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_amproc', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_language', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_largeobject_metadata', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_aggregate', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_rewrite', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_trigger', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_progress_vacuum', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_user_mappings', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_largeobject', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_event_trigger', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_description', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_cast', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_enum', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_namespace', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_conversion', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_depend', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_database', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_db_role_setting', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_tablespace', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_pltemplate', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_auth_members', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_shdepend', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_shdescription', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_ts_config', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_ts_config_map', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_ts_dict', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_ts_parser', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_ts_template', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_extension', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_foreign_data_wrapper', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_foreign_server', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_foreign_table', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_policy', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_replication_origin', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_default_acl', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_init_privs', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_seclabel', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_shseclabel', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_collation', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_range', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_transform', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_group', u'VIEW', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_user', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_policies', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_views', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_matviews', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_indexes', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stats', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_locks', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_cursors', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_available_extensions', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_available_extension_versions', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_prepared_xacts', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_prepared_statements', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_seclabels', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_xact_all_tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_timezone_abbrevs', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_timezone_names', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_sys_tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_all_tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_xact_sys_tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_user_tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_xact_user_tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_statio_all_tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_statio_sys_tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_statio_user_tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_all_indexes', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_sys_indexes', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_user_indexes', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_statio_all_indexes', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_statio_sys_indexes', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_statio_user_indexes', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_statio_all_sequences', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_statio_sys_sequences', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_statio_user_sequences', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_activity', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_replication', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_wal_receiver', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_ssl', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_replication_slots', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_database', u'VIEW', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_database_conflicts', u'VIEW', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'pg_catalog', u'pg_stat_user_functions', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'key_column_usage', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'information_schema_catalog_name', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'columns', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'applicable_roles', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'administrable_role_authorizations', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'attributes', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'constraint_column_usage', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'character_sets', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'check_constraint_routine_usage', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'check_constraints', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'constraint_table_usage', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'collations', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'collation_character_set_applicability', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'parameters', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'column_domain_usage', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'domain_constraints', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'column_privileges', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'column_udt_usage', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'domain_udt_usage', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'domains', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'referential_constraints', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'enabled_roles', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'role_routine_grants', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'role_column_grants', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'sequences', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'routine_privileges', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'routines', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'schemata', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'sql_features', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'information_schema', u'sql_implementation_info', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'information_schema', u'sql_languages', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'information_schema', u'views', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'sql_packages', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'information_schema', u'sql_parts', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'information_schema', u'triggers', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'sql_sizing', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'information_schema', u'sql_sizing_profiles', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'postgres', u'information_schema', u'view_column_usage', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'table_constraints', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'udt_privileges', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'table_privileges', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'role_table_grants', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'transforms', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'role_udt_grants', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'triggered_update_columns', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'usage_privileges', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'view_routine_usage', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'role_usage_grants', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'user_defined_types', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'element_types', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'view_table_usage', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'data_type_privileges', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'_pg_foreign_data_wrappers', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'_pg_foreign_table_columns', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'column_options', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'_pg_foreign_servers', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'foreign_data_wrapper_options', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'foreign_data_wrappers', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'foreign_server_options', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'foreign_servers', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'postgres', u'information_schema', u'_pg_foreign_tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),

In [9]:
%%sql
CREATE DATABASE lab33

Done.

[]

## 4. CRUD (Create, Read, Update, and Delete)

In lesson 1.1 you learned how to add and remove data from sqlite. Let's review that on our local PostgreSQL installation.

### 4.a: Creating Tables and Adding Columns

1. Create an table called `table1` with a single column `field1` containing an INTEGER PRIMARY KEY. Practice doing this with any of the methods above.
- Add a few more columns to `table1`:
    - field2 VARCHAR(16)
    - field3 REAL
    - field4 TEXT
check [the doc](http://www.postgresql.org/docs/9.3/static/datatype.html) for more info on data types supported by postgresql.
- Check tables and schemas using command line or postico

In [10]:
%%sql
CREATE TABLE table1 (field1 INTEGER PRIMARY KEY)

Done.

[]

In [12]:
%%sql
ALTER TABLE table1 ADD COLUMN field2 VARCHAR(16);
ALTER TABLE table1 ADD COLUMN field3 REAL;
ALTER TABLE table1 ADD COLUMN field4 TEXT;

Done.
Done.
Done.

[]

### 4.b: Add Data

Add some data to `table1`:

|field1|field2|field3|field4|
|----|
|1|'Henry James'|42|'75 Mission Street, San Francisco, CA'|
|2|'Carol James'|40|'75 Mission Street, San Francisco, CA'|
|3|'Jesse James'|12|'75 Mission Street, San Francisco, CA'|

In [17]:
%%sql
INSERT INTO table1 VALUES (1, 'Henry James', 42, '75 Mission Street, San Francisco, CA');
INSERT INTO table1 VALUES (2, 'Carol James', 42, '75 Mission Street, San Francisco, CA');
INSERT INTO table1 VALUES (3, 'Jesse James', 12, '75 Mission Street, San Francisco, CA');

1 rows affected.
1 rows affected.
1 rows affected.

[]

### 4.c: Read Data
Read the content of the table,

In [18]:
%%sql
SELECT * FROM table1;

3 rows affected.

[(1, u'Henry James', 42.0, u'75 Mission Street, San Francisco, CA'),
 (2, u'Carol James', 42.0, u'75 Mission Street, San Francisco, CA'),
 (3, u'Jesse James', 12.0, u'75 Mission Street, San Francisco, CA')]

### 4.d: Update Records
Suppose we need to update an existing record with new data - e.g. maybe `Jesse James` is only 9. Use the update command to do this.

In [22]:
%%sql
UPDATE table1 SET field3=9 WHERE field2='Jesse James';

1 rows affected.

[]

### 4.e: Remove Records
To remove records use the DELETE command. Delete the entry for anyone matching `Jesse`.

In [29]:
%%sql
DELETE FROM table1 WHERE field2 LIKE 'Jesse%';

1 rows affected.

[]

In [30]:
%%sql
SELECT * FROM table1;

2 rows affected.

[(1, u'Henry James', 42.0, u'75 Mission Street, San Francisco, CA'),
 (2, u'Carol James', 42.0, u'75 Mission Street, San Francisco, CA')]

## 5. Data from CSV

Copy CSV data from a local file into a local PostgreSQL database. We will use a [dataset](../../assets/datasets/Eviction_Notices.csv) pulled from the SF open data website. It contains a set of eviction notices issued in San Francisco.

Open the data in a text editor and have a look at it.

### 5.a: Simple Import

Read [this post](http://stackoverflow.com/questions/2987433/how-to-import-csv-file-data-into-a-postgresql-table) to learn how you can import data from CSV to PostgreSQL.

Notice that you have to decide the type for each column. Let's keep it simple and import everything as a string of text for now.

- Create a table called `evictions_simple` and import the data as varchar.
- Check that everything worked fine by loading a few lines from the table.
- Try some simple queries:
    - count how many evictions are due to non_payments
    - list the 3 most recent evictions


**Hint:** A good practice when you create a new table is to always drop it first, in case it already exists.

**Check:** Did you avoid importing the header as a record?

In [48]:
%%sql
SET DATESTYLE TO "ISO,MDY";

DROP TABLE IF EXISTS evictions;

CREATE TABLE evictions
(eviction_id varchar,
 address varchar,
 city varchar,
 state char(2),
 zip char(5),
 file_date date,
 non_payment boolean,
 breach boolean,
 nuisance boolean,
 illegal_use boolean,
 failure_to_sign_renewal boolean,
 access_denial boolean,
 unapproved_subtenant boolean,
 owner_move_in boolean,
 demolition boolean,
 capital_improvement boolean,
 substantial_rehab boolean,
 ellis_act_withdrawal boolean,
 condo_conversion boolean,
 roommate_same_unit boolean,
 other_cause boolean,
 late_payments boolean,
 lead_remediation boolean,
 development boolean,
 good_samaritan_ends boolean,
 constraints boolean,
 constraints_date date,
 supervisor_district integer,
 neighborhood varchar,
 client_location varchar);

COPY evictions FROM 'D:/DSI_LDN_1_LESSON_NOTES/week5/day3/3.3-lab-local_database_setup/assets/datasets/Eviction_Notices.csv' DELIMITER ',' CSV HEADER;

Done.
Done.
Done.
34922 rows affected.

[]

In [39]:
import os
os.getcwd()

'D:\\DSI_LDN_1_LESSON_NOTES\\week5\\day3\\3.3-lab-local_database_setup\\code\\starter-code'

### 5.b: Data Cleaning and Import

If you've executed the last query correctly (most recent evictions), you'll have noticed that the dates are not correctly understood. This is because we were sloppy and imported the data as string for all fields.

Let's see what data types we would ideally like to have for each column.

[Here are data types](http://www.tutorialspoint.com/postgresql/postgresql_data_types.htm)

- Discuss in pairs each column and then let's summarize together. Which data type would you choose for each field?
- Repeat the import to a new table called `evictions`. Notice that line 31494 may throw an error. Why is that?
> There are two ` characters that do not belong.
- Repeat the query for the 3 most recent evictions. Does it work now?

In [49]:
%%sql
select * from evictions limit 1;

1 rows affected.

[(u'M160201', u'700 Block of Monterey  Boulevard', u'San Francisco', u'CA', u'94127', datetime.date(2016, 1, 29), False, False, False, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, None, False, None, 7, u'West of Twin Peaks', u'(37.7316239329611, -122.452278465115)')]

## 6. Queries

Now that we have imported the data with correct data types, let's query the `evictions` table and find out a few things about SF and evictions.

Questions:
- How many neighborhoods are there in SF? List them alphabetically
- How many supervisor districts? 
- How many unique zip codes?
    - Are there any bad data in these? how many?
- What are the top 5 causes of eviction?

### 6.a: How many neighborhoods are there in SF? List them alphabetically.

### 6.b: How many supervisor districts?

### 6.c how many unique zip codes?

Are there any bad data in these?

### 6.d: What are the top 5 causes of eviction?

You may find it easier to answer this question using pandas.

## Bonus
- Let's count the number of evictions for each year
    - How has the number varied?
    - Can you compare this with the nasdaq index? (use the DataReader module in Pandas to get the data)