### Intro: find missing data

In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
# Here's building a function using def: 

def square_root(x): return math.sqrt(x)

In [3]:
# Here's building the same function using lambda

square_root_lambda = lambda x: math.sqrt(x)

In [4]:
# Use the isnull() method to detect the missing values. The output
# shows True when the value is missing. By adding an index into 
# the dataset, you obtain just the entries that are missing.
# A dataset could represent missing data in several ways. In this 
# example, you see missing data represented as np.NaN (NumPy Not 
# a Number) and the Python None value.

### Intro: fill in missing data

In [5]:
# To fill in missing data use fillna(). For fillna() you need to 
# provide a number. Usually, the mean, median, or mode is used. 
# Let's use the same data set and this time let's fill in missing 
# values with the mean.

In [6]:
# We could also just drop all the NAs, by using dropna()

### Write the equivalent lambda function

In [7]:
# Write the equivalent lambda function for the following def 
# function: 

def f (x): return x**2
print f(8)

64

In [8]:
# equivalent lambda function
square = lambda x: x**2
square(8)

64

### Lab 3.4

In [9]:
# read in the raw data from the github url

data = pd.read_csv("https://raw.githubusercontent.com/suneel0101/lesson-plan/master/crunchbase_monthly_export.csv")
print(data.dtypes)

permalink               object
name                    object
homepage_url            object
category_list           object
 market                 object
 funding_total_usd      object
status                  object
country_code            object
state_code              object
region                  object
city                    object
funding_rounds           int64
founded_at              object
founded_month           object
founded_quarter         object
founded_year           float64
first_funding_at        object
last_funding_at         object
Unnamed: 18            float64
dtype: object

In [10]:
# find missing values
data.columns
for col in data:
    index = data[col].index[data[col].apply(pd.isnull)]
    print(col, index)

('permalink', Int64Index([], dtype='int64'))
('name', Int64Index([25694], dtype='int64'))
('homepage_url', Int64Index([   12,    15,    55,    80,    83,    92,    97,   107,   110,
              128,
            ...
            44658, 44659, 44663, 44665, 44688, 44717, 44750, 44867, 44909,
            44918],
           dtype='int64', length=3036))
('category_list', Int64Index([   31,    32,    36,    45,    59,    67,    75,    80,    83,
               89,
            ...
            44610, 44663, 44664, 44668, 44677, 44700, 44736, 44759, 44774,
            44906],
           dtype='int64', length=3953))
(' market ', Int64Index([   31,    32,    36,    45,    59,    67,    75,    80,    83,
               89,
            ...
            44610, 44663, 44664, 44668, 44677, 44700, 44736, 44759, 44774,
            44906],
           dtype='int64', length=3953))
(' funding_total_usd ', Int64Index([], dtype='int64'))
('status', Int64Index([    0,     6,    29,    32,    36,    49,    62,    84,    85,
              100,
            ...
            44715, 44780, 44781, 44787, 44811, 44817, 44818, 44830, 44834,
            44928],
           dtype='int64', length=2742))
('country_code', Int64Index([    8,    18,    23,    24,    29,    32,    35,    38,    54,
               68,
            ...
            44861, 44863, 44875, 44883, 44901, 44904, 44906, 44923, 44935,
            44948],
           dtype='int64', length=4145))
('state_code', Int64Index([    0,     3,     4,     7,     8,    11,    18,    19,    22,
               23,
            ...
            44935, 44936, 44937, 44940, 44942, 44944, 44945, 44946, 44947,
            44948],
           dtype='int64', length=17177))
('region', Int64Index([    8,    18,    24,    29,    32,    35,    38,    54,    68,
               72,
            ...
            44861, 44863, 44875, 44883, 44901, 44904, 44921, 44923, 44935,
            44948],
           dtype='int64', length=5335))
('city', Int64Index([    8,    18,    24,    29,    32,    35,    38,    48,    52,
               54,
            ...
            44861, 44863, 44875, 44883, 44901, 44904, 44907, 44923, 44935,
            44948],
           dtype='int64', length=4841))
('funding_rounds', Int64Index([], dtype='int64'))
('founded_at', Int64Index([    0,     2,     7,    12,    19,    24,    25,    31,    32,
               35,
            ...
            44904, 44908, 44909, 44910, 44911, 44925, 44928, 44943, 44946,
            44948],
           dtype='int64', length=9658))
('founded_month', Int64Index([    0,     2,     7,    12,    19,    24,    25,    31,    32,
               35,
            ...
            44904, 44908, 44909, 44910, 44911, 44925, 44928, 44943, 44946,
            44948],
           dtype='int64', length=9724))
('founded_quarter', Int64Index([    0,     2,     7,    12,    19,    24,    25,    31,    32,
               35,
            ...
            44904, 44908, 44909, 44910, 44911, 44925, 44928, 44943, 44946,
            44948],
           dtype='int64', length=9724))
('founded_year', Int64Index([    0,     2,     7,    12,    19,    24,    25,    31,    32,
               35,
            ...
            44904, 44908, 44909, 44910, 44911, 44925, 44928, 44943, 44946,
            44948],
           dtype='int64', length=9724))
('first_funding_at', Int64Index([], dtype='int64'))
('last_funding_at', Int64Index([], dtype='int64'))
('Unnamed: 18', Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            44940, 44941, 44942, 44943, 44944, 44945, 44946, 44947, 44948,
            44949],
           dtype='int64', length=44950))

In [ ]:
# fill in missing data with the mean