In [2]:
import pandas as pd

### Lab

In [9]:
df_a = pd.DataFrame([{"a": 1, "b": 4}, {"a": 2, "b": 5}, {"a": 3, "b": 6}, 
                    {"c": 1}])
df_a

     a    b    c
0  1.0  4.0  NaN
1  2.0  5.0  NaN
2  3.0  6.0  NaN
3  NaN  NaN  1.0

In [10]:
df_b = pd.DataFrame([{"c": 2, "d": 7}, {"c": 3, "d": 8}])
df_b

   c  d
0  2  7
1  3  8

In [22]:
# left join
df_a.merge(df_b,on='c',how='left')

     a    b    c   d
0  1.0  4.0  NaN NaN
1  2.0  5.0  NaN NaN
2  3.0  6.0  NaN NaN
3  NaN  NaN  1.0 NaN

In [23]:
# right join
df_a.merge(df_b,on='c',how='right')

    a   b  c  d
0 NaN NaN  2  7
1 NaN NaN  3  8

In [24]:
# inner join
df_a.merge(df_b,on='c',how='inner')

Empty DataFrame
Columns: [a, b, c, d]
Index: []

In [25]:
# outer join
df_a.merge(df_b,on='c',how='outer')

     a    b    c    d
0  1.0  4.0  NaN  NaN
1  2.0  5.0  NaN  NaN
2  3.0  6.0  NaN  NaN
3  NaN  NaN  1.0  NaN
4  NaN  NaN  2.0  7.0
5  NaN  NaN  3.0  8.0

In [28]:
left = pd.DataFrame({'key1': ['foo', 'foo', 'bar'],
                  'key2': ['one', 'two', 'one'],
                  'lval': [1, 2, 3]})
left

  key1 key2  lval
0  foo  one     1
1  foo  two     2
2  bar  one     3

In [29]:
right = pd.DataFrame({'key1': ['foo', 'foo', 'bar', 'bar'],
                   'key2': ['one', 'one', 'one', 'two'],
                   'rval': [4, 5, 6, 7]})
right

  key1 key2  rval
0  foo  one     4
1  foo  one     5
2  bar  one     6
3  bar  two     7

In [31]:
# left join
left.merge(right,on=['key1','key2'],how='left')

  key1 key2  lval  rval
0  foo  one     1   4.0
1  foo  one     1   5.0
2  foo  two     2   NaN
3  bar  one     3   6.0

In [32]:
# right join
left.merge(right,on=['key1','key2'],how='right')

  key1 key2  lval  rval
0  foo  one   1.0     4
1  foo  one   1.0     5
2  bar  one   3.0     6
3  bar  two   NaN     7

In [33]:
# inner join
left.merge(right,on=['key1','key2'],how='inner')

  key1 key2  lval  rval
0  foo  one     1     4
1  foo  one     1     5
2  bar  one     3     6

In [34]:
# outer join
left.merge(right,on=['key1','key2'],how='outer')

  key1 key2  lval  rval
0  foo  one   1.0   4.0
1  foo  one   1.0   5.0
2  foo  two   2.0   NaN
3  bar  one   3.0   6.0
4  bar  two   NaN   7.0

### Bonus

Here are two datasets - postcodes and local authorities. How would you join this data together?

In [35]:
postcodes_to_customer=pd.DataFrame({"customer_number": [1,2,3,4,5], "postcode": ["AB102UA", "YO159AP", "SS93PS", "UB69WL", "ST44JZ"]})
postcodes_to_local_authority=pd.DataFrame({"postcode":["EC2V 7QH", "UB6 9WL", "SE15 5ZJ", "WA14 1ED", "L42 8ND", "B16 9RA", 
                                                       "HD8 8ZW", "YO15 9AP", "LE5 5DE", "ST4 4JZ", "BS7 0EZ", "SS9 3PS"],
                                          "local_authority":["City of London", "Ealing", "Southwark", "Trafford", "Wirral", "Birmingham", 
                                                             "Kirklees", "East Riding of Yorkshire", "Leicester", "Stoke-on-Trent", 
                                                             "Bristol, City of", "Southend-on-Sea"]})

In [36]:
postcodes_to_customer

   customer_number postcode
0                1  AB102UA
1                2  YO159AP
2                3   SS93PS
3                4   UB69WL
4                5   ST44JZ

In [49]:
postcodes_to_local_authority['postcode'] = postcodes_to_local_authority['postcode'].str.replace(' ','')

In [52]:
postcodes_to_customer.merge(postcodes_to_local_authority,on=['postcode'],how="inner")

   customer_number postcode           local_authority
0                2  YO159AP  East Riding of Yorkshire
1                3   SS93PS           Southend-on-Sea
2                4   UB69WL                    Ealing
3                5   ST44JZ            Stoke-on-Trent