# Homework w02d05 - pandas merge and pivot tables

The following data are taken from Ben Forta's Sams Teach Yourself SQL in 10 Minutes (http://www.forta.com/books/0672336073/). Load the following five dictionaries into pandas dataframes and construct the required output by merging and pivoting. Decide what type of merge you want to choose (you have to choose one of the options [inner, outer, left, right] for the parameter how).

In [1]:
import pandas as pd
import numpy as np

In [2]:
customers = {'cust_address': {0: '200 Maple Lane',
  1: '333 South Lake Drive',
  2: '1 Sunny Place',
  3: '829 Riverside Drive',
  4: '4545 53rd Street'},
 'cust_city': {0: 'Detroit',
  1: 'Columbus',
  2: 'Muncie',
  3: 'Phoenix',
  4: 'Chicago'},
 'cust_contact': {0: 'John Smith',
  1: 'Michelle Green ',
  2: 'Jim Jones',
  3: 'Denise L. Stephens',
  4: 'Kim Howard '},
 'cust_country': {0: 'USA', 1: 'USA', 2: 'USA', 3: 'USA', 4: 'USA'},
 'cust_email': {0: 'sales@villagetoys.com ',
  1: None,
  2: 'jjones@fun4all.com ',
  3: 'dstephens@fun4all.com ',
  4: None},
 'cust_id': {0: 1000000001,
  1: 1000000002,
  2: 1000000003,
  3: 1000000004,
  4: 1000000005},
 'cust_name': {0: 'Village Toys',
  1: 'Kids Place',
  2: 'Fun4All',
  3: 'Fun4All',
  4: 'The Toy Store'},
 'cust_state': {0: 'MI', 1: 'OH', 2: 'IN', 3: 'AZ', 4: 'IL'},
 'cust_zip': {0: 44444, 1: 43333, 2: 42222, 3: 88888, 4: 54545}}


vendors = {'vend_address': {0: '123 Main Street',
  1: '500 Park Street',
  2: '555 High Street',
  3: '1000 5th Avenue',
  4: '42 Galaxy Road',
  5: '1 Rue Amusement'},
 'vend_city': {0: 'Bear Town',
  1: 'Anytown',
  2: 'Dollsville',
  3: 'New York',
  4: 'London',
  5: 'Paris'},
 'vend_country': {0: 'USA',
  1: 'USA',
  2: 'USA',
  3: 'USA',
  4: 'England',
  5: 'France'},
 'vend_id': {0: 'BRS01',
  1: 'BRE02',
  2: 'DLL01',
  3: 'FRB01',
  4: 'FNG01',
  5: 'JTS01'},
 'vend_name': {0: 'Bears R Us',
  1: 'Bear Emporium',
  2: 'Doll House Inc.',
  3: 'Furball Inc.',
  4: 'Fun and Games',
  5: 'Jouets et ours'},
 'vend_state': {0: 'MI', 1: 'OH', 2: 'CA', 3: 'NY', 4: np.nan, 5: np.nan},
 'vend_zip': {0: '44444',
  1: '44333',
  2: '99999',
  3: '11111',
  4: 'N16 6PS',
  5: '45678'}}

products = {'prod_desc': {0: '8 inch teddy bear comes with cap and jacket',
  1: '12 inch teddy bear comes with cap and jacket',
  2: '18 inch teddy bear comes with cap and jacket',
  3: 'Fish bean bag toy complete with bean bag worms with which to feed it',
  4: 'Bird bean bag toy eggs are not included',
  5: 'Rabbit bean bag toy comes with bean bag carrots',
  6: '18 inch Raggedy Ann doll',
  7: '12 inch king doll with royal garments and crown',
  8: '12 inch queen doll with royal garments and crown'},
 'prod_id': {0: 'BR01',
  1: 'BR02',
  2: 'BR03',
  3: 'BNBG01',
  4: 'BNBG02',
  5: 'BNBG03',
  6: 'RGAN01',
  7: 'RYL01',
  8: 'RYL02'},
 'prod_name': {0: '8 inch teddy bear',
  1: '12 inch teddy bear',
  2: '18 inch teddy bear',
  3: 'Fish bean bag toy',
  4: 'Bird bean bag toy',
  5: 'Rabbit bean bag toy',
  6: 'Raggedy Ann',
  7: 'King doll',
  8: 'Queen doll'},
 'prod_price': {0: 5.9900000000000002,
  1: 8.9900000000000002,
  2: 11.99,
  3: 3.4900000000000002,
  4: 3.4900000000000002,
  5: 3.4900000000000002,
  6: 4.9900000000000002,
  7: 9.4900000000000002,
  8: 9.4900000000000002},
 'vend_id': {0: 'BRS01',
  1: 'BRS01',
  2: 'BRS01',
  3: 'DLL01',
  4: 'DLL01',
  5: 'DLL01',
  6: 'DLL01',
  7: 'FNG01',
  8: 'FNG01'}}

orders = {'cust_id': {0: 1000000001,
  1: 1000000003,
  2: 1000000004,
  3: 1000000005,
  4: 1000000001},
 'order_date': {0: '2012-05-01',
  1: '2012-01-12',
  2: '2012-01-30',
  3: '2012-02-03',
  4: '2012-02-08'},
 'order_num': {0: 20005, 1: 20006, 2: 20007, 3: 20008, 4: 20009}}

orders_items = {'item_price': {0: 5.4900000000000002,
  1: 10.99,
  2: 5.9900000000000002,
  3: 8.9900000000000002,
  4: 11.99,
  5: 11.49,
  6: 2.9900000000000002,
  7: 2.9900000000000002,
  8: 2.9900000000000002,
  9: 4.4900000000000002,
  10: 4.9900000000000002,
  11: 11.99,
  12: 3.4900000000000002,
  13: 3.4900000000000002,
  14: 3.4900000000000002,
  15: 2.4900000000000002,
  16: 2.4900000000000002,
  17: 2.4900000000000002},
 'order_item': {0: 1,
  1: 2,
  2: 1,
  3: 2,
  4: 3,
  5: 1,
  6: 2,
  7: 3,
  8: 4,
  9: 5,
  10: 1,
  11: 2,
  12: 3,
  13: 4,
  14: 5,
  15: 1,
  16: 2,
  17: 3},
 'order_num': {0: 20005,
  1: 20005,
  2: 20006,
  3: 20006,
  4: 20006,
  5: 20007,
  6: 20007,
  7: 20007,
  8: 20007,
  9: 20007,
  10: 20008,
  11: 20008,
  12: 20008,
  13: 20008,
  14: 20008,
  15: 20009,
  16: 20009,
  17: 20009},
 'prod_id': {0: 'BR01',
  1: 'BR03',
  2: 'BR01',
  3: 'BR02',
  4: 'BR03',
  5: 'BR03',
  6: 'BNBG01',
  7: 'BNBG02',
  8: 'BNBG03',
  9: 'RGAN01',
  10: 'RGAN01',
  11: 'BR03',
  12: 'BNBG01',
  13: 'BNBG02',
  14: 'BNBG03',
  15: 'BNBG01',
  16: 'BNBG02',
  17: 'BNBG03'},
 'quantity': {0: 100,
  1: 100,
  2: 20,
  3: 10,
  4: 10,
  5: 50,
  6: 100,
  7: 100,
  8: 100,
  9: 50,
  10: 5,
  11: 5,
  12: 10,
  13: 10,
  14: 10,
  15: 250,
  16: 250,
  17: 250}}

In [3]:
df_customers = pd.DataFrame(customers)
df_vendors =  pd.DataFrame(vendors)
df_products = pd.DataFrame(products)
df_orders = pd.DataFrame(orders)
df_ordersitems = pd.DataFrame(orders_items)
df_all = [df_customers,df_vendors,df_products,df_orders,df_ordersitems]
[df.columns for df in df_all]

[Index([u'cust_address', u'cust_city', u'cust_contact', u'cust_country',
        u'cust_email', u'cust_id', u'cust_name', u'cust_state', u'cust_zip'],
       dtype='object'),
 Index([u'vend_address', u'vend_city', u'vend_country', u'vend_id',
        u'vend_name', u'vend_state', u'vend_zip'],
       dtype='object'),
 Index([u'prod_desc', u'prod_id', u'prod_name', u'prod_price', u'vend_id'], dtype='object'),
 Index([u'cust_id', u'order_date', u'order_num'], dtype='object'),
 Index([u'item_price', u'order_item', u'order_num', u'prod_id', u'quantity'], dtype='object')]

### 1. Merge the customers table with the orders table and give the customer address and the order date for the number of orders being larger than 10.

In [4]:
merge_1 = df_orders.merge(df_customers,on='cust_id',how='inner')
merge_1[merge_1.order_num > 10][['cust_address','order_date']]

          cust_address  order_date
0       200 Maple Lane  2012-05-01
1       200 Maple Lane  2012-02-08
2        1 Sunny Place  2012-01-12
3  829 Riverside Drive  2012-01-30
4     4545 53rd Street  2012-02-03

### 2. Merge the vendors table and the customers table on vend_country and cust_country. Give out the vend_address and the vend_city for those entries where the cust_contact is John Smith.

In [5]:
merge_2 = df_vendors.merge(df_customers, left_on=df_vendors['vend_country'],
                 right_on=df_customers['cust_country'],how='inner')
merge_2[['vend_address','vend_city']][merge_2.cust_contact=='John Smith']

       vend_address   vend_city
0   123 Main Street   Bear Town
5   500 Park Street     Anytown
10  555 High Street  Dollsville
15  1000 5th Avenue    New York

### 3. Merge the vendors table and the product table on vend_id and give out vend_name, prod_name and prod_price. Produce a pivot_table with vend_name as index and prod_price as value using the aggregate function np.sum.

In [6]:
merge_3 = (df_vendors.merge(df_products, left_on=df_vendors['vend_id'],
                 right_on=df_products['vend_id'],how='inner'))[['vend_name','prod_name','prod_price']]
merge_3

         vend_name            prod_name  prod_price
0       Bears R Us    8 inch teddy bear        5.99
1       Bears R Us   12 inch teddy bear        8.99
2       Bears R Us   18 inch teddy bear       11.99
3  Doll House Inc.    Fish bean bag toy        3.49
4  Doll House Inc.    Bird bean bag toy        3.49
5  Doll House Inc.  Rabbit bean bag toy        3.49
6  Doll House Inc.          Raggedy Ann        4.99
7    Fun and Games            King doll        9.49
8    Fun and Games           Queen doll        9.49

In [7]:
pd.pivot_table(merge_3,index='vend_name',values=['prod_price'],aggfunc=np.sum)

                 prod_price
vend_name
Bears R Us            26.97
Doll House Inc.       15.46
Fun and Games         18.98

### 4. Merge the products table and the ordersitems table on prod_id and give out vend_id, item_price and quantity. From the result, produce a single pivot table with index vend_id and values item_price and quantity using the aggregate functions np.mean, np.std and np.sum.Â¶

In [8]:
merge_4 = (df_products.merge(df_ordersitems, left_on=df_products['prod_id'],
                 right_on=df_ordersitems['prod_id'],how='inner'))[['vend_id','item_price','quantity']]
merge_4

   vend_id  item_price  quantity
0    BRS01        5.49       100
1    BRS01        5.99        20
2    BRS01        8.99        10
3    BRS01       10.99       100
4    BRS01       11.99        10
5    BRS01       11.49        50
6    BRS01       11.99         5
7    DLL01        2.99       100
8    DLL01        3.49        10
9    DLL01        2.49       250
10   DLL01        2.99       100
11   DLL01        3.49        10
12   DLL01        2.49       250
13   DLL01        2.99       100
14   DLL01        3.49        10
15   DLL01        2.49       250
16   DLL01        4.49        50
17   DLL01        4.99         5

In [9]:
merge_4.pivot_table(index='vend_id',values=['item_price','quantity'],aggfunc=[np.mean,np.std,np.sum])

              mean                    std                    sum
        item_price    quantity item_price    quantity item_price quantity
vend_id
BRS01     9.561429   42.142857   2.805182   42.215434      66.93      295
DLL01     3.308182  103.181818   0.814639  101.594112      36.39     1135