# Homework w02d03 - Creating dummies for categorical variables

Read in the following dataset collecting information about nutrition habits of 54 individuals.
1. How many features of binary categorical type, of integer type and of floating point type are there?
2. Get dummy variables for the columns of binary categorical type and retain only those columns which are necessary for desribing the data. How many are those?
3. Get dummy variables for the integer valued columns ['BREAKFASTSANDWICHFREQ', 'BREAKFASTSANDWICHQUAN']. Again, retain only those columns which are necessary for describing the data. How many are those? Rename the columns suitably with the command pd.rename.
4. Join the dataframes for all the dummy variables you created with pd.join.

In [1]:
import pandas as pd
import numpy as np

# Import dataset
df = pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/nutrition-studies/raw_anonymized_data.csv')
df.head()

,ID,cancer,diabetes,heart_disease,belly,ever_smoked,currently_smoke,smoke_often,smoke_rarely,never_smoked,...,DT_FIBER_INSOL,DT_FIBER_SOL,DT_PROT_ANIMAL,DT_PROT_VEGETABLE,DT_NITROGEN,PHYTIC_ACID,OXALIC_ACID,COUMESTROL,BIOCHANIN_A,FORMONONETIN
0,1003,Yes,No,No,Innie,Yes,Yes,Yes,No,No,...,7.38,1.25,75.46,16.00,14.89,365.70,318.11,0.0117,0.0658,0.00324
1,1053,No,Yes,Yes,Outie,Yes,Yes,No,Yes,No,...,9.11,3.37,59.41,18.25,12.51,434.98,112.66,0.0107,0.1390,0.00743
2,1006,Yes,Yes,Yes,Innie,No,No,No,No,Yes,...,11.56,4.74,61.49,28.46,14.45,606.43,213.41,0.0965,0.0519,0.00946
3,1166,No,No,No,Innie,No,No,No,No,Yes,...,26.34,10.85,28.71,44.59,12.15,1570.07,334.08,0.2830,0.0890,0.01260
4,1134,Yes,No,No,Innie,No,No,No,No,Yes,...,16.48,4.80,32.41,28.23,9.80,616.99,422.55,0.1630,0.0994,0.02070

In [2]:
# Drop unnecessary ID variable and print the shape of the dataframe
df.drop('ID',inplace=True,axis=1)
df.shape

(54, 1092)

In [3]:
# the number of columns with different datatypes
df.get_dtype_counts()

float64    554
int64      512
object      26
dtype: int64

In [4]:
# get the names of the corresponding columns
col_object = []
col_int = []
col_float = []
for col in df.columns:
    if df[col].dtype == int:
        col_int.append(col)
    elif df[col].dtype == float:
        col_float.append(col)
    elif df[col].dtype == object:
        col_object.append(col)
    else:
        print col

print len(col_object), len(col_int), len(col_float)

26 512 554

In [5]:
# Get dummies for the binary categorical variables, drop unnecessary columns
df_obj_dummies = (pd.get_dummies(df[col_object]))
df_obj = df_obj_dummies[df_obj_dummies.columns[1::2]]

In [6]:
# Get dummies for 'BREAKFASTSANDWICHFREQ' and rename the columns, no columns to drop because not all 
# values within the range occur
print 'Unique values:', sorted(df[col_int[0]].unique())
BSF_dummies = pd.get_dummies(df[col_int[0]])
BSF_names = {name:'BSF_'+str(name) for name in BSF_dummies.columns}
BSF_dummies.rename(columns=BSF_names,inplace=True)
BSF_dummies.head()

Unique values: [1, 2, 3, 4, 5, 7, 8, 9]

   BSF_1  BSF_2  BSF_3  BSF_4  BSF_5  BSF_7  BSF_8  BSF_9
0    0.0    0.0    0.0    0.0    1.0    0.0    0.0    0.0
1    1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
2    0.0    0.0    1.0    0.0    0.0    0.0    0.0    0.0
3    0.0    1.0    0.0    0.0    0.0    0.0    0.0    0.0
4    0.0    0.0    1.0    0.0    0.0    0.0    0.0    0.0

In [7]:
# Get dummies for 'BREAKFASTSANDWICHQUAN' and rename the columns, there are only two unique values, 
#drop unnecessary column
print 'Unique values:', sorted(df[col_int[1]].unique())
BSQ_dummies = pd.get_dummies(df[col_int[1]])
BSQ_dummies.drop([2],axis=1,inplace=True)
BSQ_names = {name:'BSQ_'+str(name) for name in BSQ_dummies.columns}
BSQ_dummies.rename(columns=BSQ_names,inplace=True)
BSQ_dummies.head()

Unique values: [1, 2]

   BSQ_1
0    1.0
1    1.0
2    0.0
3    1.0
4    1.0

In [8]:
# Join the three dataframes
df_obj = df_obj.join(BSF_dummies)
df_obj = df_obj.join(BSQ_dummies)

print df_obj.shape
df_obj.head()

(54, 35)

,cancer_Yes,diabetes_Yes,heart_disease_Yes,belly_Outie,ever_smoked_Yes,currently_smoke_Yes,smoke_often_Yes,smoke_rarely_Yes,never_smoked_Yes,quit_smoking_Yes,...,Jewish_Yes,BSF_1,BSF_2,BSF_3,BSF_4,BSF_5,BSF_7,BSF_8,BSF_9,BSQ_1
0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0