# Data Workflow Lab 1

Clean and summarize Project 3 data.

### Learning Objectives

* Practice text cleaning techniques
* Practice datatype conversion
* Practice filling in missing values with either 0 or the average in the column
* Practice categorical data techniques
* Transform data into usable quantities

In [2]:
% matplotlib inline
import datetime
import numpy as np
import pandas as pd

In [14]:
# Load the data
df = pd.read_csv("Iowa_Liquor_sales_sample_10pct.csv")
print df.columns
df.head()

Index([u'Date', u'Store Number', u'City', u'Zip Code', u'County Number',
       u'County', u'Category', u'Category Name', u'Vendor Number',
       u'Item Number', u'Item Description', u'Bottle Volume (ml)',
       u'State Bottle Cost', u'State Bottle Retail', u'Bottles Sold',
       u'Sale (Dollars)', u'Volume Sold (Liters)', u'Volume Sold (Gallons)'],
      dtype='object')

,Date,Store Number,City,Zip Code,County Number,County,Category,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,11/04/2015,3717,SUMNER,50674,9.0,Bremer,1051100.0,APRICOT BRANDIES,55,54436,Mr. Boston Apricot Brandy,750,$4.50,$6.75,12,$81.00,9.0,2.38
1,03/02/2016,2614,DAVENPORT,52807,82.0,Scott,1011100.0,BLENDED WHISKIES,395,27605,Tin Cup,750,$13.75,$20.63,2,$41.26,1.5,0.40
2,02/11/2016,2106,CEDAR FALLS,50613,7.0,Black Hawk,1011200.0,STRAIGHT BOURBON WHISKIES,65,19067,Jim Beam,1000,$12.59,$18.89,24,$453.36,24.0,6.34
3,02/03/2016,2501,AMES,50010,85.0,Story,1071100.0,AMERICAN COCKTAILS,395,59154,1800 Ultimate Margarita,1750,$9.50,$14.25,6,$85.50,10.5,2.77
4,08/18/2015,3654,BELMOND,50421,99.0,Wright,1031080.0,VODKA 80 PROOF,297,35918,Five O'clock Vodka,1750,$7.20,$10.80,12,$129.60,21.0,5.55

In [4]:
df.shape

(270955, 18)

## Clean the data

Let's practice our data cleaning skills on the Project 3 dataset. If you don't remember how to do any of these tasks, look back at your work from the previous weeks or search the internet. There are many blog articles and Stack Overflow posts that cover these topics.

You'll want to complete at least the following tasks:
* Remove redundant columns
* Remove "$" prices from characters and convert values to floats.
* Convert dates to pandas datetime objects
* Convert category floats to integers
* Drop or fill in bad values

In [15]:
# Remove redundant columns
df.drop(['County','Category Name','Vendor Number','Item Description','Bottle Volume (ml)','State Bottle Cost','Volume Sold (Gallons)'],axis=1,inplace=True)

In [16]:
# Remove $ from certain columns
dollar_cols = ['State Bottle Retail','Sale (Dollars)']
for col in dollar_cols:
    try:
        df[col] = [float(x[1:]) for x in df[col]]
    except Exception:
        print("Cannot convert %s" % col)

In [17]:
# Convert dates
df['Date'] = pd.to_datetime(df['Date'])

In [8]:
df.head()

,Date,Store Number,Zip Code,County Number,Category,Item Number,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters)
0,2015-11-04,3717,50674,9.0,1051100.0,54436,6.75,12,81.00,9.0
1,2016-03-02,2614,52807,82.0,1011100.0,27605,20.63,2,41.26,1.5
2,2016-02-11,2106,50613,7.0,1011200.0,19067,18.89,24,453.36,24.0
3,2016-02-03,2501,50010,85.0,1071100.0,59154,14.25,6,85.50,10.5
4,2015-08-18,3654,50421,99.0,1031080.0,35918,10.80,12,129.60,21.0

In [18]:
# Drop or replace bad values
df.apply(lambda x: sum(pd.isnull(x)))
df.dropna(subset=["County Number","Category"],inplace=True)
# Convert integers
df['County Number'] = [int(x) for x in df['County Number']]

## Filter the Data

Some stores may have opened or closed in 2015. These data points will heavily skew our models, so we need to filter them out or find a way to deal with them.

You'll need to provide a summary in your project report about these data points. You may also consider using the monthly sales in your model and including other information (number of months or days each store is open) in your data to handle these unusual cases.

Let's record the first and last sales dates for each store. We'll save this information for later when we fit our models.

In [8]:
# Determine which stores were open all of 2015
# Find the first and last sales date.
df2015 = df[df['Date'].dt.year<2016]
nb_days_open = df2015.pivot_table(index="Vendor Number",values="Date",aggfunc=lambda x: np.max(x)-np.min(x))
#print(nb_days_open)
# Filter out stores that opened or closed throughout the year
# You may want to save this step until you start modelling
nb_days_open=nb_days_open.reset_index()
vendor_open_all_year = [nb_days_open.ix[i,0] for i in range(1,len(nb_days_open.ix[:,0])) if nb_days_open.ix[i,1].days>300]

## Compute New Columns and Tables

Since we're trying to predict sales and/or profits, we'll want to compute some intermediate data. There are a lot of ways to do thisand good use of pandas is crucial. For example, for each transaction we may want to know:
* margin, retail cost minus bottle cost
* price per bottle
* price per liter

We'll need to make a new dataframe that indexes quantities by store:
* sales per store for all of 2015
* sales per store for Q1 2015
* sales per store for Q1 2016
* total volumes sold
* mean transaction revenue, gross margin, price per bottle, price per liter, etc.
* average sales per day
* number of days open

Make sure to retain other variables that we'll want to use to build our models, such as zip code, county number, city, etc. We recommend that you spend some time thinking about the model you may want to fit and computing enough of the suggested quantities to give you a few options.

Bonus tasks:
* Restrict your attention to stores that were open for all of 2015 and Q1 2016. Stores that opened or closed in 2015 will introduce outliers into your data.
* For each transaction we have the item category. You may be able to determine the store type (primarily wine, liquor, all types of alcohol, etc.) by the most common transaction category for each store. This could be a useful categorical variable for modelling.

In [31]:
# Margin and Price per liter

In [48]:
# Sales per store, 2015
#df.reset_index(inplace=True)

# Filter by our start and end dates
df.sort_values(by=["Store Number", "Date"], inplace=True)
start_date = pd.Timestamp("20150101")
end_date = pd.Timestamp("20151231")
mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
sales = df[mask]


# Group by store name
sales = sales.groupby(by=["Store Number"], as_index=False)

print(sales.head(2))


# Compute sums, means
sales = sales.agg({"Sale (Dollars)": [np.sum, np.mean],
                   "Volume Sold (Liters)": [np.sum, np.mean],
                   "Margin": np.mean,
                   "Price per Liter": np.mean,
                   "Zip Code": lambda x: x.iloc[0], # just extract once, should be the same
                   "City": lambda x: x.iloc[0],
                   "County Number": lambda x: x.iloc[0]})
# Collapse the column indices
sales.columns = [' '.join(col).strip() for col in sales.columns.values]
# Rename columns

# Quick check
sales.head()

        level_0   index       Date  Store Number           City Zip Code  \
0             0   22111 2015-01-08          2106    CEDAR FALLS    50613
1             1   47659 2015-01-08          2106    CEDAR FALLS    50613
654         654   27649 2015-01-07          2113         GOWRIE    50543
655         655   50536 2015-01-07          2113         GOWRIE    50543
838         838    2246 2015-01-08          2130       WATERLOO    50703
839         839   55391 2015-01-08          2130       WATERLOO    50703
1347       1347   16908 2015-01-08          2152       ROCKWELL    50469
1348       1348   68607 2015-01-08          2152       ROCKWELL    50469
1508       1508    7458 2015-01-07          2178         WAUKON    52172
1509       1509   26706 2015-01-07          2178         WAUKON    52172
1803       1803    2791 2015-01-05          2190     DES MOINES    50314
1804       1804   14630 2015-01-05          2190     DES MOINES    50314
3429       3429    5544 2015-01-05          2191         KEOKUK    52632
3430       3430    6373 2015-01-05          2191         KEOKUK    52632
4168       4168   13337 2015-01-07          2200       SAC CITY    50583
4169       4169   77987 2015-01-07          2200       SAC CITY    50583
4653       4653    7916 2015-01-06          2205       CLARINDA    51632
4654       4654   30341 2015-01-06          2205       CLARINDA    51632
4940       4940   15791 2015-01-06          2228      WINTERSET    50273
4941       4941   39183 2015-01-06          2228      WINTERSET    50273
5246       5246   33275 2015-01-06          2233    SPIRIT LAKE    51360
5247       5247  104190 2015-01-06          2233    SPIRIT LAKE    51360
5536       5536    9128 2015-01-13          2238        ALTOONA    50009
5537       5537  172136 2015-01-13          2238        ALTOONA    50009
5598       5598   82694 2015-01-08          2248     DES MOINES    50312
5599       5599  102890 2015-01-08          2248     DES MOINES    50312
6158       6158   18576 2015-01-07          2285      IOWA CITY    52240
6159       6159  174188 2015-01-07          2285      IOWA CITY    52240
6516       6516    5600 2015-01-07          2290     STORM LAKE    50588
6517       6517    6833 2015-01-07          2290     STORM LAKE    50588
...         ...     ...        ...           ...            ...      ...
269174   269174   31985 2015-11-09          5198      DAVENPORT    52803
269175   269175   76745 2015-11-09          5198      DAVENPORT    52803
269327   269327   73662 2015-11-18          5199        OELWEIN    50662
269328   269328  128842 2015-11-18          5199        OELWEIN    50662
269371   269371  182575 2015-12-01          5201        DUBUQUE    52001
269372   269372  187731 2015-12-01          5201        DUBUQUE    52001
269380   269380   43736 2015-12-03          5203    COON RAPIDS    50058
269381   269381  163489 2015-12-03          5203    COON RAPIDS    50058
269413   269413   14402 2015-11-30          5204     BURLINGTON    52601
269414   269414   22505 2015-11-30          5204     BURLINGTON    52601
269471   269471  204645 2015-12-03          5205        GLIDDEN    51443
269472   269472  123776 2015-12-17          5205        GLIDDEN    51443
269487   269487   10175 2015-12-14          5206  GRUNDY CENTER    50638
269488   269488   19931 2015-12-14          5206  GRUNDY CENTER    50638
269525   269525   25887 2015-12-09          5207   CEDAR RAPIDS    52404
269526   269526   35828 2015-12-09          5207   CEDAR RAPIDS    52404
269615   269615   18281 2015-12-18          5212     MASON CITY    50401
269616   269616   47459 2015-12-18          5212     MASON CITY    50401
269643   269643   54229 2015-12-26          5213       MONTROSE    52639
269656   269656  145064 2015-12-30          5215      LE CLAIRE    52753
269657   269657  254763 2015-12-30          5215      LE CLAIRE    52753
269712   269712   56042 2015-01-07          9001        SWISHER    52338
269713   269713  157334 2015-01-07          9001        SWISHER    52338
269736   269736  255679 2015-01-15          9002       LECLAIRE    52753
269737   269737  125647 2015-01-22          9002       LECLAIRE    52753
269785   269785   16295 2015-01-20          9010        NORWALK    50211
269786   269786  267581 2015-01-20          9010        NORWALK    50211
269802   269802  105091 2015-06-04          9013        Cumming    50061
269803   269803   42383 2015-08-04          9013        Cumming    50061
269808   269808  139261 2015-10-27          9018        Dubuque    52001

        County Number   Category  Item Number  State Bottle Retail  \
0                   7  1062200.0        43127                14.25
1                   7  1022100.0        88296                40.50
654                94  1062310.0        43334                 7.50
655                94  1031200.0        77648                13.88
838                 7  1081390.0        69947                23.63
839                 7  1031200.0        41077                15.75
1347               17  1011300.0        26827                26.85
1348               17  1081390.0        69946                19.50
1508                3  1081030.0        67557                12.59
1509                3  1011300.0        86669                10.16
1803               77  1052010.0        66293                12.53
1804               77  1012100.0        11771                10.20
3429               56  1081200.0        68036                19.88
3430               56  1012100.0        11297                27.75
4168               81  1081600.0        64858                44.58
4169               81  1011300.0        26828                43.04
4653               73  1011100.0        24456                 8.27
4654               73  1081300.0        81206                 5.57
4940               61  1081305.0        82606                 9.45
4941               61  1011400.0        16416                14.96
5246               30  1011100.0        23708                11.00
5247               30  1081300.0        81406                12.00
5536               77  1081010.0        71886                 5.01
5537               77  1062310.0        43337                17.63
5598               77  1081200.0        74089                25.50
5599               77  1042100.0        28088                33.74
6158               52  1011200.0        27536                32.25
6159               52  1031080.0        37416                 6.75
6516               11  1012100.0        11774                 4.61
6517               11  1081330.0        82847                11.43
...               ...        ...          ...                  ...
269174             82  1032200.0        64572                13.88
269175             82  1012100.0        11296                22.50
269327             33  1022100.0        89496                10.27
269328             33  1022100.0        89196                15.74
269371             31  1062200.0        43124                 6.75
269372             31  1052010.0        48105                14.99
269380             14  1031080.0        35918                10.80
269381             14  1022100.0        89196                15.74
269413             29  1031200.0        40411                 9.75
269414             29  1011200.0        22151                16.38
269471             14  1081600.0        64866                13.47
269472             14  1071100.0        59037                 6.04
269487             38  1081330.0        82846                 9.45
269488             38  1081390.0        69636                13.01
269525             57  1701100.0          494                53.13
269526             57  1031200.0        40191                 3.36
269615             17  1031080.0        35918                10.80
269616             17  1031080.0        36969                10.35
269643             56  1062310.0        43333                 3.75
269656             82  1012100.0        10807                22.50
269657             82  1012100.0        11290                11.03
269712             52  1051150.0        53629                28.13
269713             52  1011100.0        27632                20.75
269736             82  1031080.0        37640                21.03
269737             82  1011500.0        27027                28.76
269785             91  1081600.0        75740                19.94
269786             91  1011100.0        27323                23.39
269802             91  1031080.0        36447                18.81
269803             91  1011100.0        27255                13.76
269808             31  1062310.0        46686                21.45

        Bottles Sold  Sale (Dollars)  Volume Sold (Liters)
0                 36          513.00                 36.00
1                 12          486.00                  9.00
654                4           30.00                  1.50
655                3           41.64                  3.00
838               12          283.56                 12.00
839               12          189.00                 12.00
1347              12          322.20                 12.00
1348               2           39.00                  1.50
1508               2           25.18                  2.00
1509               4           40.64                  1.50
1803               2           25.06                  0.75
1804               1           10.20                  0.60
3429              12          238.56                  9.00
3430              36          999.00                 36.00
4168               1           44.58                  3.00
4169               2           86.08                  3.50
4653              12           99.24                  9.00
4654               3           16.71                  2.25
4940               2           18.90                  1.50
4941               1           14.96                  0.75
5246               6           66.00                 10.50
5247               3           36.00                  2.25
5536               2           10.02                  1.50
5537               6          105.78                  6.00
5598               4          102.00                  3.00
5599               6          202.44                 10.50
6158               6          193.50                  4.50
6159              12           81.00                  9.00
6516               6           27.66                  2.25
6517               1           11.43                  1.00
...              ...             ...                   ...
269174             3           41.64                  1.12
269175             3           67.50                  2.25
269327             1           10.27                  0.75
269328            12          188.88                  9.00
269371             6           40.50                  2.25
269372            12          179.88                  4.50
269380            12          129.60                 21.00
269381            12          188.88                  9.00
269413             1            9.75                  0.75
269414             1           16.38                  0.50
269471             2           26.94                  1.50
269472             2           12.08                  2.00
269487             4           37.80                  3.00
269488             4           52.04                  3.00
269525             3          159.39                  5.25
269526            24           80.64                  4.80
269615             6           64.80                 10.50
269616             6           62.10                  4.50
269643            48          180.00                  9.60
269656             2           45.00                  1.50
269657             1           11.03                  0.30
269712            12          337.56                  9.00
269713            12          249.00                  9.00
269736            12          252.36                  9.00
269737            24          690.24                 18.00
269785            24          478.56                 18.00
269786            24          561.36                 18.00
269802            36          677.16                 27.00
269803            12          165.12                  9.00
269808           300         6435.00                225.00

[2740 rows x 13 columns]

KeyError: 'Price per Liter'

In [ ]:
# Q1 sales, may want to also use aggregate as above to have more columns (means, etc.)

# Sales 2015  Q1

# Sales 2016 Q1

Proceed with any calculations that you need for your models, such as grouping
sales by zip code, most common vendor number per store, etc. Once you have finished adding columns, be sure to save the dataframe.

In [ ]:
# Compute more things
# ...

In [ ]:
# Save this dataframe

# Let's add the dates computed above to this data.
sales["First Date"] = dates['Date amin']
sales["Last Date"] = dates['Date amax']

sales.to_csv("sales.csv")