In [1]:
import pandas as pd

In [2]:
cate = pd.Series(["a", "b", "c", "a"], dtype="category")
cate

0    a
1    b
2    c
3    a
dtype: category
Categories (3, object): [a, b, c]

In [4]:
df = pd.DataFrame({'A': list("abca")})
df['B'] = df['A'].astype('category')
df

   A  B
0  a  a
1  b  b
2  c  c
3  a  a

In [5]:
df.dtypes

A      object
B    category
dtype: object

In [8]:
df = pd.DataFrame({'key': list('bbacab'), 'data1': range(6)})
df

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   b

In [9]:
a = c = 1

In [11]:
c = 6
print a 
print c

1
6

In [12]:
df

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   b

In [13]:
pd.get_dummies(df['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [14]:
df[['dummy_a', 'dummy_b', 'dumy_c']] = pd.get_dummies(df['key'])
df

   data1 key  dummy_a  dummy_b  dumy_c
0      0   b        0        1       0
1      1   b        0        1       0
2      2   a        1        0       0
3      3   c        0        0       1
4      4   a        1        0       0
5      5   b        0        1       0

In [17]:
df.drop('key', axis=1)

   data1  dummy_a  dummy_b  dumy_c
0      0        0        1       0
1      1        0        1       0
2      2        1        0       0
3      3        0        0       1
4      4        1        0       0
5      5        0        1       0