In [1]:
import math
def square_root(x): return math.sqrt(x)

square_root(9)

3.0

In [2]:
square_root_lambda = lambda x: math.sqrt(x)

square_root_lambda(8)

2.8284271247461903

In [7]:
a = range(12)

len_lambda = lambda x: 1 if len(x) < 10 else 4

len_lambda(a)

4

In [12]:
import pandas as pd
df = pd.DataFrame([range(3) for x in range(3)])

In [13]:
df

   0  1  2
0  0  1  2
1  0  1  2
2  0  1  2

In [14]:
df.columns = ['a', 'b', 'c']

In [15]:
df

   a  b  c
0  0  1  2
1  0  1  2
2  0  1  2

In [16]:
len_function = lambda x: len(x)

len_df = [len_function(x) for x in df]
len_df

[1, 1, 1]

In [22]:
mappy = map(lambda x: len(x), [range(3) for x in range(3)])
mappy

[3, 3, 3]