# Homework w08d02

Repeat the analysis from the lab for different states. 
1. Choose poll and election results from three different states. 
2. For each state, obtain the posterior probability distribution for the probability of people voting for Bush based on the polls for a prior Beta distribution and the election results for a binomial likelihood function. 
3. Plot the cumulative distribution function of the posterior probability.

In [1]:
from __future__ import division
import numpy as np
import pandas as pd
import math
from scipy.special import gamma as Gamma
from scipy.stats import beta
import matplotlib.pyplot as plt
%matplotlib inline
import math
from scipy.special import gamma as Gamma
from scipy.stats import beta

In [2]:
# Reading in the csv file
pre_poll = pd.read_csv('datasets/polls.csv')

# The first column "Unnamed" is clearly just a row-identifer machine generated. We can ignore that column or drop it all together
del pre_poll['Unnamed: 0']
del pre_poll['org']
pre_poll.head()

   year survey  bush  state  edu  age  female  black  weight
0     1   9152   1.0      7    2    2       1      0    1403
1     1   9152   1.0     33    4    3       0      0     778
2     1   9152   0.0     20    2    1       1      0    1564
3     1   9152   1.0     31    3    2       1      0    1055
4     1   9152   1.0     18    3    1       1      0    1213

In [3]:
# Let's also produce a dictionary with the general poll percentages for state (no age)

container2 ={}
for state in pre_poll['state'].unique(): 
    c1 = pre_poll['state'] == state
    subset_interest = pre_poll[c1]  # Subsetting the data 
    contain = subset_interest['bush'].unique()  
    contain = contain[~np.isnan(contain)]   # Remove the NaNs - Think why can't we use dropna()?
        
    if len(contain) == 2:
        bush_quotient = float(subset_interest['bush'].value_counts()[1])/(float(subset_interest['bush'].value_counts()[1])+float(subset_interest['bush'].value_counts()[0]))
        temp_name = str(state)
        container2[temp_name] = bush_quotient

In [6]:
election88_dat = pd.read_csv('datasets/election88.csv')
del election88_dat["Unnamed: 0"]
election88_dat.head()

   stnum  st  electionresult  samplesize   ranking  _merge
0      1  AL            0.59         203  0.673067       3
1      2  AK            0.60           0       NaN       1
2      3  AZ            0.60         194  0.568980       3
3      4  AR            0.56         121  0.563672       3
4      5  CA            0.51        1493  0.531725       3