# Homework w02d03 - Creating dummies for categorical variables

Read in the following dataset collecting information about nutrition habits of 54 individuals.
1. How many features of binary categorical type, of integer type and of floating point type are there?
2. Get dummy variables for the columns of binary categorical type and retain only those columns which are necessary for desribing the data. How many are those?
3. Get dummy variables for the integer valued columns ['BREAKFASTSANDWICHFREQ', 'BREAKFASTSANDWICHQUAN']. Again, retain only those columns which are necessary for describing the data. How many are those? Rename the columns suitably with the command pd.rename.
4. Join the dataframes for all the dummy variables you created with pd.join.

In [117]:
import pandas as pd
import numpy as np

# Import dataset
df = pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/nutrition-studies/raw_anonymized_data.csv')
df.head()

,ID,cancer,diabetes,heart_disease,belly,ever_smoked,currently_smoke,smoke_often,smoke_rarely,never_smoked,...,DT_FIBER_INSOL,DT_FIBER_SOL,DT_PROT_ANIMAL,DT_PROT_VEGETABLE,DT_NITROGEN,PHYTIC_ACID,OXALIC_ACID,COUMESTROL,BIOCHANIN_A,FORMONONETIN
0,1003,Yes,No,No,Innie,Yes,Yes,Yes,No,No,...,7.38,1.25,75.46,16.00,14.89,365.70,318.11,0.0117,0.0658,0.00324
1,1053,No,Yes,Yes,Outie,Yes,Yes,No,Yes,No,...,9.11,3.37,59.41,18.25,12.51,434.98,112.66,0.0107,0.1390,0.00743
2,1006,Yes,Yes,Yes,Innie,No,No,No,No,Yes,...,11.56,4.74,61.49,28.46,14.45,606.43,213.41,0.0965,0.0519,0.00946
3,1166,No,No,No,Innie,No,No,No,No,Yes,...,26.34,10.85,28.71,44.59,12.15,1570.07,334.08,0.2830,0.0890,0.01260
4,1134,Yes,No,No,Innie,No,No,No,No,Yes,...,16.48,4.80,32.41,28.23,9.80,616.99,422.55,0.1630,0.0994,0.02070

#### 1. How many features of binary categorical type, of integer type and of floating point type are there?

In [111]:
df.get_dtype_counts()

float64    554
int64      513
object      26
dtype: int64

#### 2. Get dummy variables for the columns of binary categorical type and retain only those columns which are necessary for describing the data. How many are those?

In [112]:
for i in range(len(df.columns)):
    if df.ix[:,i].dtypes == "object":
        if df.ix[:,i].nunique() != 2:
            print df.ix[:,i].name + " is not binary"

No output, therefore all categorical variables are binary

In [113]:
for i in range(len(df.columns)):
    if df.ix[:,i].dtypes == "object":
        print "Column index %d name %s" % (i,df.ix[:,i].name)

Column index 1 name cancer
Column index 2 name diabetes
Column index 3 name heart_disease
Column index 4 name belly
Column index 5 name ever_smoked
Column index 6 name currently_smoke
Column index 7 name smoke_often
Column index 8 name smoke_rarely
Column index 9 name never_smoked
Column index 10 name quit_smoking
Column index 11 name left_hand
Column index 12 name right_hand
Column index 13 name readingMath
Column index 14 name mathReading
Column index 15 name favCable
Column index 16 name unfavCable
Column index 17 name neutralCable
Column index 18 name noCrash
Column index 19 name yesCrash
Column index 20 name uhCrash
Column index 21 name rash
Column index 22 name cat
Column index 23 name dog
Column index 24 name Dems
Column index 25 name atheist
Column index 26 name Jewish

It appears that data from columns 11 to 26 are not relevant to studies linked to health and nutrition, therefore we will drop them, and make columns 1 to 10 dummy variables.

In [118]:
df = df.drop(df.columns[list(range(11,26+1))], axis=1)

In [121]:
keys = [col for col in df.ix[:,1:11]]
df_dummies = pd.get_dummies(df[keys],drop_first=True)
df_dummies.head()

,cancer_Yes,diabetes_Yes,heart_disease_Yes,belly_Outie,ever_smoked_Yes,currently_smoke_Yes,smoke_often_Yes,smoke_rarely_Yes,never_smoked_Yes,quit_smoking_Yes
0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0
1,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0
2,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

Only one out of each pair of dummy variable is required, therefore I used the drop_first parameter.

#### 3. Get dummy variables for the integer valued columns ['BREAKFASTSANDWICHFREQ', 'BREAKFASTSANDWICHQUAN']. Again, retain only those columns which are necessary for describing the data. How many are those? Rename the columns suitably with the command pd.rename.

In [132]:
keys2 = ['BREAKFASTSANDWICHFREQ','BREAKFASTSANDWICHQUAN']
df[keys2[0]] = df[keys2[0]].astype('category')
df[keys2[1]] = df[keys2[1]].astype('category')
df_dummies2 = pd.get_dummies(df[keys2],drop_first=True)
df_dummies2.head()

,BREAKFASTSANDWICHFREQ_2,BREAKFASTSANDWICHFREQ_3,BREAKFASTSANDWICHFREQ_4,BREAKFASTSANDWICHFREQ_5,BREAKFASTSANDWICHFREQ_7,BREAKFASTSANDWICHFREQ_8,BREAKFASTSANDWICHFREQ_9,BREAKFASTSANDWICHQUAN_2
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

Again we only need to keep number of categories minus one, as the missing one can be deduced from others.

In [135]:
df = df.rename(columns={"BREAKFASTSANDWICHFREQ_2":"BREAKFASTSANDWICHFREQ_RARELY",
                "BREAKFASTSANDWICHFREQ_3":"BREAKFASTSANDWICHFREQ_SOMETIMES",
                "BREAKFASTSANDWICHFREQ_4":"BREAKFASTSANDWICHFREQ_OFTEN",
                "BREAKFASTSANDWICHFREQ_5":"ALWAYS"})

#### 4. Join the dataframes for all the dummy variables you created with pd.join

In [137]:
df = df.join(df_dummies).join(df_dummies2)